# Cleaning and Merging

## Looking at money flows **from** countries

In [438]:
import pandas as pd

In [439]:
remittances = pd.read_csv('./wb_data/remittances/ouward_remittance_flows_brief_37_as_of_nov.28_2022.csv')

In [440]:
remittances.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,2021 Nominal GDP
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,"16,109"
1,Albania,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.77,"18,310"
2,Algeria,31,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05,"162,711"
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#DIV/0!,0
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,"3,330"

In [441]:
remittances = remittances[['Country','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']]

In [442]:
remittances.rename(columns={'Country':'country'}, inplace=True)

In [443]:
income_levels = pd.read_csv('./countries_by_income.csv')

In [444]:
remittances = pd.merge(remittances, income_levels, on='country', how='outer')

In [445]:
remittances

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,income_level
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,445,524,229,168,144,235,217,225,NaN,low income
1,Albania,0,0,0,0,0,0,0,0,0,...,191,179,153,147,106,115,120,125,140,upper middle income
2,Algeria,31,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,39,296,72,77,214,87,82,149,81,low middle income
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,92,84,NaN,high income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,Czech Republic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high income
241,Nauru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high income
242,Faroe Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high income
243,French Polynesia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high income
244,Gibraltar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high income

In [446]:
# drop null values

remittances = remittances.dropna()

In [447]:
remittances

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,income_level
5,Angola,150,125,122,133,149,210,174,180,202,...,"2,396","2,747","1,253","1,176",961,682,549,576,445,low middle income
7,Argentina,0,0,143,163,177,195,207,232,247,...,888,732,685,769,"1,060","1,010",695,545,589,upper middle income
10,Australia,601,523,458,442,488,570,728,771,797,...,"7,254","6,953","6,038","6,179","6,793","7,268","7,439","4,359","3,804",high income
19,Belize,7,6,6,6,7,7,7,8,7,...,32,33,41,45,46,43,42,42,42,upper middle income
20,Benin,21,21,21,21,23,26,34,17,30,...,101,144,98,88,73,94,87,92,100,low middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Uganda,0,0,0,0,0,0,0,0,0,...,368,302,278,349,345,400,373,195,213,low income
200,Ukraine,0,0,0,0,0,0,1,4,3,...,"1,716","1,702",627,559,584,565,575,843,"1,083",low middle income
202,United Kingdom,"1,172","1,090","1,057",838,"1,306","1,866","1,277","1,513","1,409",...,"10,528","11,571","10,706","10,191","9,801","10,410","10,360","9,382","10,085",high income
203,United States,"11,850","13,919","16,156","18,041","20,366","22,181","23,723","25,594","27,427",...,"55,003","57,239","60,719","62,870","64,114","66,836","71,583","66,543","72,669",high income
206,Vanuatu,12,13,13,9,11,11,34,30,14,...,2,4,3,5,5,10,15,11,10,low middle income

In [448]:
migrant_stock = pd.read_csv('./wb_data/migrant_stock/API_SM.POP.TOTL.ZS_DS2_en_csv_v2_4772109.csv')

In [449]:
migrant_stock.rename(columns={'Country Name':'country'}, inplace=True)

In [450]:
migrant_stock = migrant_stock[['country', 'Indicator Name','2015']]

In [451]:
remittances = pd.merge(remittances, migrant_stock, on='country', how='inner')

In [452]:
remittances = remittances[['country','income_level', '2021','2015_y']]

In [453]:
remittances = remittances.dropna()

In [454]:
# use altair to create a scatter plot with the remittances and migrant stock data

import altair as alt

alt.Chart(remittances).mark_circle().encode(
    x='2021',
    y='2015_y',
    color='income_level',
    tooltip=['country', 'income_level', '2021','2015_y']
).interactive()

/Users/kellywaldron/.pyenv/versions/3.11.0rc2/lib/python3.11/site-packages/altair/utils/core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

alt.Chart(...)

In [455]:
remittances['2021'] = remittances['2021'].str.replace(',', '')

In [456]:
# save remittances to csv

remittances.to_csv('./outward_remittances.csv', index=False)

In [457]:
df = pd.read_csv('./outward_remittances.csv')