# Cleaning and Merging

## Taking the World Bank's remittance and FDI data and putting them together

In [586]:
import pandas as pd

In [587]:
fdi_df =pd.read_csv('./FDI_inflows/API_BX.KLT.DINV.CD.WD_DS2_en_csv_v2_4770445.csv')

fdi_df.rename(columns={'Country Name':'country'},inplace=True)

fdi_df

,country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,-3.146927e+08,2.263714e+08,2.506181e+08,-2.877586e+07,2.755127e+07,1.624636e+08,1.359212e+08,-7.522654e+07,1.640876e+08,1.342949e+08
1,Africa Eastern and Southern,AFE,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.463634e+10,2.153425e+10,2.768142e+10,2.877423e+10,1.663278e+10,1.003544e+10,1.359147e+10,1.499352e+10,1.251117e+10,5.244199e+10
2,Afghanistan,AFG,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.682366e+07,4.831135e+07,4.297526e+07,1.691466e+08,9.359132e+07,5.153390e+07,1.194351e+08,2.340455e+07,1.297015e+07,2.060098e+07
3,Africa Western and Central,AFW,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.091269e+10,1.915755e+10,1.659803e+10,1.564317e+10,1.393704e+10,1.766242e+10,1.549205e+10,1.237874e+10,1.085112e+10,1.957282e+10
4,Angola,AGO,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.464628e+09,-7.120017e+09,3.657515e+09,1.002822e+10,-1.795176e+08,-7.397295e+09,-6.456076e+09,-4.098479e+09,-1.866468e+09,-4.355117e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.930898e+08,3.714922e+08,1.998884e+08,3.433506e+08,2.437871e+08,2.868352e+08,3.185430e+08,2.850816e+08,3.946253e+08,4.944368e+08
262,"Yemen, Rep.",YEM,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.423919e+07,-1.335709e+08,-2.331047e+08,-1.544481e+07,-5.610000e+08,-2.698500e+08,-2.820983e+08,-3.709828e+08,NaN,NaN
263,South Africa,ZAF,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.626029e+09,8.232519e+09,5.791659e+09,1.521140e+09,2.215307e+09,2.058580e+09,5.569462e+09,5.116098e+09,3.153553e+09,4.129614e+10
264,Zambia,ZMB,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.731500e+09,2.099800e+09,1.507800e+09,1.582667e+09,6.628139e+08,1.107520e+09,4.084385e+08,5.479679e+08,-1.727528e+08,-8.230827e+08
265,Zimbabwe,ZWE,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.498500e+08,3.730500e+08,4.728000e+08,3.992000e+08,3.430138e+08,3.071877e+08,7.178653e+08,2.495000e+08,1.503600e+08,1.660000e+08

In [588]:
# read csv and make a header

income_df = pd.read_csv('./countries_by_income.csv')

In [589]:
income_df['country'] = income_df['country'].str.replace('"', '')
income_df['country'] = income_df['country'].str.replace('ü', 'u')
income_df['country'] = income_df['country'].str.replace('Czech  Republic', 'Czechia')
income_df['country'] = income_df['country'].str.replace('ô', 'o')
income_df['country'] = income_df['country'].str.replace('Iran, Islamic Rep', 'Iran, Islamic Rep.')
income_df['country'] = income_df['country'].str.replace('São Tomé and Principe', 'Sao Tome and Principe')
income_df['country'] = income_df['country'].str.replace('Congo, Dem. Rep', 'Congo, Dem. Rep.')
income_df['country'] = income_df['country'].str.replace('Curaçao','Curacao')
income_df['country'] = income_df['country'].str.replace('\ufeff\ufeffSyrian Arab Republic','Syrian Arab Republic')
income_df['country'] = income_df['country'].str.replace("Korea, Dem. People's Rep", "Korea, Dem. People's Rep.")
income_df['country'] = income_df['country'].str.replace('  ', ' ')

/var/folders/_0/x7xh_2c16jq4chdcqrg28fr40000gn/T/ipykernel_76272/3239546686.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  income_df['country'] = income_df['country'].str.replace('Congo, Dem. Rep', 'Congo, Dem. Rep.')
/var/folders/_0/x7xh_2c16jq4chdcqrg28fr40000gn/T/ipykernel_76272/3239546686.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  income_df['country'] = income_df['country'].str.replace("Korea, Dem. People's Rep", "Korea, Dem. People's Rep.")

In [590]:
# merge the df using an outer join

merged_df = pd.merge(fdi_df, income_df, on='country', how='outer')

In [591]:
merged_df

,country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,income_level
0,Aruba,ABW,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.263714e+08,2.506181e+08,-2.877586e+07,2.755127e+07,1.624636e+08,1.359212e+08,-7.522654e+07,1.640876e+08,1.342949e+08,high income
1,Africa Eastern and Southern,AFE,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.153425e+10,2.768142e+10,2.877423e+10,1.663278e+10,1.003544e+10,1.359147e+10,1.499352e+10,1.251117e+10,5.244199e+10,NaN
2,Afghanistan,AFG,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.831135e+07,4.297526e+07,1.691466e+08,9.359132e+07,5.153390e+07,1.194351e+08,2.340455e+07,1.297015e+07,2.060098e+07,low income
3,Africa Western and Central,AFW,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.915755e+10,1.659803e+10,1.564317e+10,1.393704e+10,1.766242e+10,1.549205e+10,1.237874e+10,1.085112e+10,1.957282e+10,NaN
4,Angola,AGO,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,-7.120017e+09,3.657515e+09,1.002822e+10,-1.795176e+08,-7.397295e+09,-6.456076e+09,-4.098479e+09,-1.866468e+09,-4.355117e+09,low middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,South Africa,ZAF,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.232519e+09,5.791659e+09,1.521140e+09,2.215307e+09,2.058580e+09,5.569462e+09,5.116098e+09,3.153553e+09,4.129614e+10,upper middle income
264,Zambia,ZMB,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.099800e+09,1.507800e+09,1.582667e+09,6.628139e+08,1.107520e+09,4.084385e+08,5.479679e+08,-1.727528e+08,-8.230827e+08,low income
265,Zimbabwe,ZWE,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.730500e+08,4.728000e+08,3.992000e+08,3.430138e+08,3.071877e+08,7.178653e+08,2.495000e+08,1.503600e+08,1.660000e+08,low middle income
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high income
267,"Taiwan, China",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high income

In [592]:
merged_df = merged_df[:-2]

see world bank website about [data for Taiwan](https://datahelpdesk.worldbank.org/knowledgebase/articles/114933-where-are-your-data-on-taiwan#:~:text=Taiwan%2C%20China%2C%20is%20not%20listed,the%20high%2Dincome%20countries%20aggregate.)

In [593]:
merged_df

,country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,income_level
0,Aruba,ABW,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.263714e+08,2.506181e+08,-2.877586e+07,2.755127e+07,1.624636e+08,1.359212e+08,-7.522654e+07,1.640876e+08,1.342949e+08,high income
1,Africa Eastern and Southern,AFE,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.153425e+10,2.768142e+10,2.877423e+10,1.663278e+10,1.003544e+10,1.359147e+10,1.499352e+10,1.251117e+10,5.244199e+10,NaN
2,Afghanistan,AFG,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.831135e+07,4.297526e+07,1.691466e+08,9.359132e+07,5.153390e+07,1.194351e+08,2.340455e+07,1.297015e+07,2.060098e+07,low income
3,Africa Western and Central,AFW,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.915755e+10,1.659803e+10,1.564317e+10,1.393704e+10,1.766242e+10,1.549205e+10,1.237874e+10,1.085112e+10,1.957282e+10,NaN
4,Angola,AGO,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,-7.120017e+09,3.657515e+09,1.002822e+10,-1.795176e+08,-7.397295e+09,-6.456076e+09,-4.098479e+09,-1.866468e+09,-4.355117e+09,low middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.714922e+08,1.998884e+08,3.433506e+08,2.437871e+08,2.868352e+08,3.185430e+08,2.850816e+08,3.946253e+08,4.944368e+08,upper middle income
262,"Yemen, Rep.",YEM,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,-1.335709e+08,-2.331047e+08,-1.544481e+07,-5.610000e+08,-2.698500e+08,-2.820983e+08,-3.709828e+08,NaN,NaN,low income
263,South Africa,ZAF,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.232519e+09,5.791659e+09,1.521140e+09,2.215307e+09,2.058580e+09,5.569462e+09,5.116098e+09,3.153553e+09,4.129614e+10,upper middle income
264,Zambia,ZMB,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.099800e+09,1.507800e+09,1.582667e+09,6.628139e+08,1.107520e+09,4.084385e+08,5.479679e+08,-1.727528e+08,-8.230827e+08,low income
265,Zimbabwe,ZWE,"Foreign direct investment, net inflows (BoP, c...",BX.KLT.DINV.CD.WD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.730500e+08,4.728000e+08,3.992000e+08,3.430138e+08,3.071877e+08,7.178653e+08,2.495000e+08,1.503600e+08,1.660000e+08,low middle income

In [594]:
# list the columns

merged_df.columns

Index(['country', 'Country Code', 'Indicator Name', 'Indicator Code', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', 'income_level'],
      dtype='object')

In [595]:
# keep the year columns from 1990 to 2021 

merged_df = merged_df[['country','Country Code','income_level','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']]

merged_df

,country,Country Code,income_level,1990,1991,1992,1993,1994,1995,1996,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,high income,1.305028e+08,1.847486e+08,-3.698324e+07,-1.793296e+07,-7.318436e+07,-5.530726e+06,8.502793e+07,...,-3.146927e+08,2.263714e+08,2.506181e+08,-2.877586e+07,2.755127e+07,1.624636e+08,1.359212e+08,-7.522654e+07,1.640876e+08,1.342949e+08
1,Africa Eastern and Southern,AFE,NaN,8.867306e+07,1.241969e+09,6.523250e+08,8.395097e+08,1.187865e+09,2.662959e+09,2.087427e+09,...,2.463634e+10,2.153425e+10,2.768142e+10,2.877423e+10,1.663278e+10,1.003544e+10,1.359147e+10,1.499352e+10,1.251117e+10,5.244199e+10
2,Afghanistan,AFG,low income,1.000000e+01,-2.800000e+05,3.600000e+05,-2.000000e+04,2.000000e+04,-9.332660e+04,6.900000e+05,...,5.682366e+07,4.831135e+07,4.297526e+07,1.691466e+08,9.359132e+07,5.153390e+07,1.194351e+08,2.340455e+07,1.297015e+07,2.060098e+07
3,Africa Western and Central,AFW,NaN,1.073308e+09,8.376527e+08,1.214631e+09,1.757937e+09,2.389931e+09,9.454281e+08,1.182474e+09,...,2.091269e+10,1.915755e+10,1.659803e+10,1.564317e+10,1.393704e+10,1.766242e+10,1.549205e+10,1.237874e+10,1.085112e+10,1.957282e+10
4,Angola,AGO,low middle income,-3.348000e+08,6.645000e+08,2.879560e+08,3.021000e+08,1.703000e+08,4.724270e+08,1.805590e+08,...,-1.464628e+09,-7.120017e+09,3.657515e+09,1.002822e+10,-1.795176e+08,-7.397295e+09,-6.456076e+09,-4.098479e+09,-1.866468e+09,-4.355117e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,upper middle income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.930898e+08,3.714922e+08,1.998884e+08,3.433506e+08,2.437871e+08,2.868352e+08,3.185430e+08,2.850816e+08,3.946253e+08,4.944368e+08
262,"Yemen, Rep.",YEM,low income,-1.309000e+08,2.825000e+08,7.180000e+08,9.030000e+08,1.580000e+07,-2.177000e+08,-6.010000e+07,...,-1.423919e+07,-1.335709e+08,-2.331047e+08,-1.544481e+07,-5.610000e+08,-2.698500e+08,-2.820983e+08,-3.709828e+08,NaN,NaN
263,South Africa,ZAF,upper middle income,-7.572241e+07,2.541336e+08,3.358018e+06,1.129055e+07,3.744104e+08,1.248425e+09,8.163893e+08,...,4.626029e+09,8.232519e+09,5.791659e+09,1.521140e+09,2.215307e+09,2.058580e+09,5.569462e+09,5.116098e+09,3.153553e+09,4.129614e+10
264,Zambia,ZMB,low income,2.027000e+08,3.430000e+07,4.500000e+07,3.144000e+08,4.000000e+07,1.070000e+08,1.271000e+08,...,1.731500e+09,2.099800e+09,1.507800e+09,1.582667e+09,6.628139e+08,1.107520e+09,4.084385e+08,5.479679e+08,-1.727528e+08,-8.230827e+08
265,Zimbabwe,ZWE,low middle income,-1.220585e+07,2.790486e+06,1.494990e+07,2.795514e+07,3.464888e+07,1.177000e+08,8.090000e+07,...,3.498500e+08,3.730500e+08,4.728000e+08,3.992000e+08,3.430138e+08,3.071877e+08,7.178653e+08,2.495000e+08,1.503600e+08,1.660000e+08

In [596]:
# group by income level to make a new df and sum the values 

grouped_df = merged_df.groupby('income_level').sum()

/var/folders/_0/x7xh_2c16jq4chdcqrg28fr40000gn/T/ipykernel_76272/2548048924.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df = merged_df.groupby('income_level').sum()

In [597]:
grouped_df = grouped_df.transpose()

In [598]:
# rename columns

grouped_df.rename(columns={'income_level':'year'},inplace=True)

In [599]:
grouped_df

income_level,high income,low income,low middle income,upper middle income
1990,2.173240e+11,5.029444e+08,3.773631e+09,1.603369e+10
1991,1.442545e+11,4.833709e+08,5.654304e+09,2.135891e+10
1992,1.431643e+11,9.051718e+08,6.904454e+09,3.377764e+10
1993,1.717666e+11,1.376081e+09,1.033789e+10,4.895807e+10
1994,1.967462e+11,6.690439e+08,1.307798e+10,6.609540e+10
1995,2.701186e+11,3.544363e+08,1.553395e+10,7.339300e+10
1996,3.030488e+11,4.742357e+08,1.934600e+10,9.097994e+10
1997,3.822944e+11,1.218954e+09,2.247665e+10,1.197121e+11
1998,6.485228e+11,1.582679e+09,1.845009e+10,1.218562e+11
1999,1.044646e+12,1.751479e+09,1.626653e+10,1.349726e+11
2000,1.418941e+12,1.855473e+09,1.252772e+10,1.261565e+11
2001,7.313372e+11,2.797762e+09,1.881735e+10,1.347345e+11
2002,6.012723e+11,3.403574e+09,2.560183e+10,1.192054e+11
2003,5.783966e+11,4.756838e+09,2.584064e+10,1.262000e+11
2004,7.987477e+11,5.435851e+09,2.992174e+10,1.731715e+11
2005,1.268445e+12,4.197832e+09,5.448133e+10,2.317105e+11
2006,1.817734e+12,6.920819e+09,7.601387e+10,2.957265e+11
2007,2.591311e+12,1.041654e+10,1.001641e+11,4.198047e+11
2008,1.857390e+12,1.261048e+10,1.311542e+11,4.666673e+11
2009,1.020938e+12,1.086348e+10,1.032337e+11,3.105701e+11
2010,1.302729e+12,1.599089e+10,1.007231e+11,5.043024e+11
2011,1.643810e+12,1.882122e+10,1.196409e+11,5.872837e+11
2012,1.377781e+12,2.171271e+10,1.136359e+11,5.386463e+11
2013,1.428832e+12,2.027346e+10,1.132048e+11,6.087321e+11
2014,1.289769e+12,1.528178e+10,1.278262e+11,4.977513e+11
2015,2.141712e+12,1.560752e+10,1.405492e+11,4.515647e+11
2016,2.157020e+12,1.489523e+10,1.179400e+11,4.183338e+11
2017,1.626557e+12,1.406392e+10,1.394643e+11,3.920995e+11
2018,3.128360e+11,1.280467e+10,1.379731e+11,4.555009e+11
2019,1.069729e+12,1.416671e+10,1.472287e+11,4.043540e+11
2020,5.991357e+11,1.152749e+10,1.403432e+11,3.846158e+11
2021,1.441418e+12,1.595362e+10,1.414107e+11,5.956336e+11

In [600]:
grouped_df["fdi_total"] = grouped_df["low income"] + grouped_df["low middle income"] + grouped_df["upper middle income"]

# only keep the year and fdi_total columns

fdi_df = grouped_df[['fdi_total']]

In [601]:

fdi_df.columns

Index(['fdi_total'], dtype='object', name='income_level')

In [602]:
# rename the index to year

fdi_df.index.name = 'year'

In [603]:
fdi_df.reset_index(inplace=True)

In [604]:
fdi_df

income_level  year     fdi_total
0             1990  2.031026e+10
1             1991  2.749659e+10
2             1992  4.158727e+10
3             1993  6.067204e+10
4             1994  7.984242e+10
5             1995  8.928139e+10
6             1996  1.108002e+11
7             1997  1.434077e+11
8             1998  1.418889e+11
9             1999  1.529906e+11
10            2000  1.405397e+11
11            2001  1.563496e+11
12            2002  1.482108e+11
13            2003  1.567975e+11
14            2004  2.085291e+11
15            2005  2.903897e+11
16            2006  3.786612e+11
17            2007  5.303854e+11
18            2008  6.104320e+11
19            2009  4.246672e+11
20            2010  6.210164e+11
21            2011  7.257458e+11
22            2012  6.739950e+11
23            2013  7.422103e+11
24            2014  6.408593e+11
25            2015  6.077214e+11
26            2016  5.511690e+11
27            2017  5.456278e+11
28            2018  6.062787e+11
29            2019  5.657494e+11
30            2020  5.364865e+11
31            2021  7.529980e+11

In [605]:
remittances = pd.read_csv('./inward_remittance_flows_brief_37_revised_final_version_as_of_dec._2_2022.csv')

In [606]:
remittances.columns

Index(['Migrant remittance inflows (US$ million)', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022e', '% of GDP in 2022'],
      dtype='object')

In [607]:
# rename columns

remittances.rename(columns={'Migrant remittance inflows (US$ million)':'remittances'},inplace=True)

In [608]:
# keep rows where it is equal to a certain value

remittances = remittances[remittances['remittances'] == 'Low-and Middle-Income Countries']

In [609]:
remittances

,remittances,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2014,2015,2016,2017,2018,2019,2020,2021,2022e,% of GDP in 2022
214,Low-and Middle-Income Countries,"27,273","28,402","33,391","35,054","39,528","45,655","49,895","59,835","58,124",...,"444,295","446,545","440,476","477,016","523,588","546,227","541,945","596,985","626,372",NaN

In [610]:
# keep the columns from 1990 to 2021

remittances = remittances[['remittances','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021']]

In [611]:
remittances = remittances.transpose()

In [612]:
remittances

                                         214
remittances  Low-and Middle-Income Countries
1990                                  27,273
1991                                  28,402
1992                                  33,391
1993                                  35,054
1994                                  39,528
1995                                  45,655
1996                                  49,895
1997                                  59,835
1998                                  58,124
1999                                  63,987
2000                                  70,489
2001                                  79,690
2002                                  94,557
2003                                 117,934
2004                                 135,276
2005                                 191,499
2006                                 224,581
2007                                 273,325
2008                                 319,667
2009                                 303,533
2010                                 339,717
2011                                 382,485
2012                                 404,730
2013                                 422,844
2014                                 444,295
2015                                 446,545
2016                                 440,476
2017                                 477,016
2018                                 523,588
2019                                 546,227
2020                                 541,945
2021                                 596,985

In [613]:
# delete the first row

remittances = remittances.drop(remittances.index[0])

In [614]:
# rename the columns

remittances.rename(columns={214:'remittance_millions'},inplace=True)

In [615]:
remittances

# make index a column

remittances.reset_index(inplace=True)

In [616]:
# rename the index column

remittances.rename(columns={'index':'year'},inplace=True)

In [617]:
# merge remittances and fdi

fdi_remit_df = pd.merge(fdi_df, remittances, on='year', how='outer')

fdi_remit_df

    year     fdi_total remittance_millions
0   1990  2.031026e+10              27,273
1   1991  2.749659e+10              28,402
2   1992  4.158727e+10              33,391
3   1993  6.067204e+10              35,054
4   1994  7.984242e+10              39,528
5   1995  8.928139e+10              45,655
6   1996  1.108002e+11              49,895
7   1997  1.434077e+11              59,835
8   1998  1.418889e+11              58,124
9   1999  1.529906e+11              63,987
10  2000  1.405397e+11              70,489
11  2001  1.563496e+11              79,690
12  2002  1.482108e+11              94,557
13  2003  1.567975e+11             117,934
14  2004  2.085291e+11             135,276
15  2005  2.903897e+11             191,499
16  2006  3.786612e+11             224,581
17  2007  5.303854e+11             273,325
18  2008  6.104320e+11             319,667
19  2009  4.246672e+11             303,533
20  2010  6.210164e+11             339,717
21  2011  7.257458e+11             382,485
22  2012  6.739950e+11             404,730
23  2013  7.422103e+11             422,844
24  2014  6.408593e+11             444,295
25  2015  6.077214e+11             446,545
26  2016  5.511690e+11             440,476
27  2017  5.456278e+11             477,016
28  2018  6.062787e+11             523,588
29  2019  5.657494e+11             546,227
30  2020  5.364865e+11             541,945
31  2021  7.529980e+11             596,985

In [618]:
# divide the fdi column by 1000000

fdi_remit_df['remittance_millions'] = fdi_remit_df['remittance_millions'].str.replace(',', '')
fdi_remit_df['remittance_millions'] = fdi_remit_df['remittance_millions'].astype(float) * 1000000

In [619]:
fdi_remit_df

    year     fdi_total  remittance_millions
0   1990  2.031026e+10         2.727300e+10
1   1991  2.749659e+10         2.840200e+10
2   1992  4.158727e+10         3.339100e+10
3   1993  6.067204e+10         3.505400e+10
4   1994  7.984242e+10         3.952800e+10
5   1995  8.928139e+10         4.565500e+10
6   1996  1.108002e+11         4.989500e+10
7   1997  1.434077e+11         5.983500e+10
8   1998  1.418889e+11         5.812400e+10
9   1999  1.529906e+11         6.398700e+10
10  2000  1.405397e+11         7.048900e+10
11  2001  1.563496e+11         7.969000e+10
12  2002  1.482108e+11         9.455700e+10
13  2003  1.567975e+11         1.179340e+11
14  2004  2.085291e+11         1.352760e+11
15  2005  2.903897e+11         1.914990e+11
16  2006  3.786612e+11         2.245810e+11
17  2007  5.303854e+11         2.733250e+11
18  2008  6.104320e+11         3.196670e+11
19  2009  4.246672e+11         3.035330e+11
20  2010  6.210164e+11         3.397170e+11
21  2011  7.257458e+11         3.824850e+11
22  2012  6.739950e+11         4.047300e+11
23  2013  7.422103e+11         4.228440e+11
24  2014  6.408593e+11         4.442950e+11
25  2015  6.077214e+11         4.465450e+11
26  2016  5.511690e+11         4.404760e+11
27  2017  5.456278e+11         4.770160e+11
28  2018  6.062787e+11         5.235880e+11
29  2019  5.657494e+11         5.462270e+11
30  2020  5.364865e+11         5.419450e+11
31  2021  7.529980e+11         5.969850e+11

In [620]:
# save to csv

fdi_remit_df.to_csv('fdi_remit.csv', index=False)